<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <style>
    body {
      text-align: center;
    }
  </style>
</head>
<body>
  <div id="app">
    <h1>오늘 할일</h1>
    <todo-list category="취업준비"></todo-list>
    <todo-list category="싸피"></todo-list>
    <todo-list category="개인"></todo-list>


  </div>

  <script>
    // 전역 컴포넌트 선언부
    Vue.component('todo-list', {
      template: `<div class="todo-list">
      <h2>{{ category }}</h2>
      <input type="text" v-model="newTodo">
      <button @click="addTodo">입력</button>
      <li v-for="todo in todos" :key="todo.id">
        {{ todo.content }}
        <button @click="removeTodo(todo.id)">삭제</button>
      </li>
    </div>`,
      props: {
        category: {
          type: String,
          required: true  // 항상 필요하다
          }
      },  // 하위 컴포넌트로 데이터 전송 + 검증
      data: function() {
        return {
          todos: [],
          newTodo: ''
        }
      },
      methods: {
        addTodo() {
          this.todos.push({
            id: Date.now(),
            content: this.newTodo,
            completed: false,
          })
          this.newTodo = ''
        },
        removeTodo: function(id) {
          this.todos = this.todos.filter(todo => {
            return todo.id !== id
          })
        }
      }
    })
  </script>

  <script>
    // 루트 오브젝트
    // const todoStorage = {
      // fetch() {
      //   return JSON.parse(localStorage.getItem('vue-todo') || '[]')
      // },
    //   set(todos) {
    //     localStorage.setItem('vue-todo', JSON.stringify(this.todos))
    //   }
    // }
    const app = new Vue({
      el: '#app',
      data: {
        
      },
      methods: {
        
      },
      // watch가 빠지면 자료가 저장이 안 되어있기 때문에 새로고침할 때 자료가 없음
      watch: {
        todos: {
          handler: function() {
            localStorage.setItem('vue-todo', JSON.stringify(this.todos))
          },
          deep: true
        }
      },
      mounted: function() {
        this.todos = JSON.parse(localStorage.getItem('vue-todo') || '[]')
      }
    })
  </script>
</body>
</html>