<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <h1>{{ message }}</h1>
    <!--반복문 돌려서 이름 출력
      for
        if (같은 라인, 우선순위가 for가 높음)
        만약, if문부터 실행할 경우 v-if v-for 순서로!
        * 반복문 시행시 항상 key를 유니크하게 설정할 것.
    -->
    <li v-for="member in members" v-if="member.gender==='M'" :key="member.id">
      {{ member.name }}?</li>
    <li v-else>{{ member.name }}</li>
    <!--v-model
      data 내에 초기화가 반드시 필요!
    -->
    <input type="text" v-model="userText">
    <p>사용자가 입력 중..{{ userText }}</p>
    <!-- 속성값: v-bind
      v-bind 생략하는 방법으로도 작성 가능
    -->
    <img v-bind:src="url" alt="" width="50px">
    <img :src="url" alt="" width="50px"><br>
    <!-- -->
    <button v-on:click="countUp">+++++</button>
    <p>{{ counter }}</p>
    <button @click="countDown">------</button>
    <!-- computed vs methods -->
    
    <h2>methods: {{ dateMethods() }}</h2> <!-- 함수를 실행, 모든 data 변경시마다 계속  호출 -->
    <h2>computed: {{ dateComputed }}</h2> <!-- 함수의 실행 결과를 계산된(computed) 변수의 값으로 저장 -->
    <!-- v-text 위/아래 모두 동일한 기능-->
    <h3 v-text="message"></h3> 
    <h3>{{ message }}</h3>
    <!-- html -->
    {{myTag}}
    <!-- html 저장된 양식으로 쓰기 -->
    <span v-html="myTag"></span>
    <!-- v-show -->
    <p v-show="false">인성 인성보소.</p>  <!-- 렌더링은 하는데, css로 보이지 않게함.(개발자도구 확인)-->
    <p v-if="false">태우 바보</p> <!-- 렌더링 자체를 하지 않음. -->
  </div>

  <script>
    const app = new Vue({
      el: '#app', // app.$el
      data: { // app.$data
        url: 'https://joshua1988.github.io/images/posts/web/vuejs/logo.png',
        message: 'Hello',  // app.message
        myTag: '<h2>우왕</h2>',
        members: [
          {id: 1, name: '경호', gender: 'M'},
          {id: 2, name: '은비', gender: 'F'},
          {id: 3, name: '태우', gender: 'M'}
        ],
        userText: '',
        counter: 0
      },
      methods: {
        countUp: function() {
          this.counter ++
          console.log(this.counter)
        },
        countDown: function() {
          this.counter--
          console.log(this.counter)
        },
        dateMethods() {
          return new Date()
        }
      },
      computed: {
        dateComputed() {
          return new Date()
        }
      },
      mounted: function() {
        console.log('처음 실행시 함수를 실행합니다.')
      },
      watch: {
        message: {
          handler: function() {
            console.log('메시지 값이 변경되면 함수를 실행합니다!')
          },
          // deep: true // nested object(중첩된 오브젝트의 변경사항까지도 추적)
        }
      }
    })
  </script>
</body>
</html>